<div fxLayout="row" fxLayoutAlign="space-evenly center" class="information-block">
  <button mat-icon-button>
    <mat-icon class="icon">thumb_up</mat-icon> Likes
  </button>
  <button mat-icon-button>
    <mat-icon class="icon">comments</mat-icon> Comments
  </button>
  <button mat-icon-button>
    <mat-icon class="icon">share</mat-icon> Share
  </button>
  <button mat-icon-button (click)="isNewsExpanded = !isNewsExpanded">
    <mat-icon class="icon">visibility</mat-icon> More
  </button>
</div>
<div *ngIf="isNewsExpanded">
  {{news.content}}
<div>
